.app {
  min-height:100%;
  position:relative
}

body {
  overscroll-behavior: none;
}

/* ////////////////////////////////////   Navbar   /////////////////////// */

.navbar {
  height: 5vh;
  background-color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-home-link {
  padding-right: 5vw;
}

.nav-translate-link {
  padding-right: 5vw;
}

.nav-home-link a{
  color: white;
}

.nav-translate-link a{
  color: white;
}

.nav-countries-link a{
  color: white;
}



/* ////////////////////////////////////   Home page   //////////////////// */

.homepage {
  background-image: url('./assets/NYC_night_portrait.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  width: auto;
  height: 95vh;
  padding-top: 5vh;
}

.logo {
  text-align: center;
  padding-bottom: 5vh;
  padding-top: 3vh;
}

@media only screen and (min-width: 400px) {
  .homepage { 
      background-image: url('./assets/Empire_State_landscape.jpg'); 
  }
}

.home-heading {
  text-align: center;
  padding-bottom: 2vh;
}

.home-heading-and-links {
  background: rgb(249, 249, 249, 0.8);
  width: 70vw;
  margin: auto;
  border-radius: 5%;
}

@media only screen and (min-width: 500px) {
  .home-heading-and-links { 
    background: rgb(249, 249, 249, 0.8);
    width: 70vw;
    margin: auto;
    border-radius: 5%; 
  }
}

.translation-info {
  padding-left: 2%;
  padding-right: 2%;
}

.countries-info {
  padding: 2%;
}

/* ////////////////////////////////   Translate Page /////////////////////////*/

.translation-page {
  background: url('./assets/belize_beach_portrait.png') fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  width: auto;
  min-height: 95vh;
  padding-bottom: 6vh;
}

.translation-form-container {
  width: 65vw;
  margin: auto;
  padding-top: 3vh;
  
}

.translation-form {
  background: rgb(249, 249, 249, 0.9); 
  padding-left: 5vw;
  padding-right: 5vw;
}

h6 {
  padding-top: 3vh;
}

.sentence-to-translate {
  padding-left: 2vw;
}

.language-dropdown {
  padding-left: 2vw;
}

.language-code-input {
  padding-left: 2vw;
}
.translation-form-buttons {
  display: flex;
  justify-content: space-around;
}

.submit-button {
  padding-top: 2%;
  padding-bottom: 2%;
}


.sentence-to-translate textarea { 
  width: 80%; 
}


@media only screen and (min-width: 400px) {
  .sentence-to-translate textarea{ 
    max-width: 80%; 
  }
}

@media only screen and (min-width: 400px) {
  .translation-page { 
      background-image: url('./assets/Italy_colored_houses_landscape.jpg'); 
  }
}

.language-container select {
  border: .5px solid gray;
  max-width: 50vw;
}

.translation {
  background: rgb(249, 249, 249, 0.9);
  width: 65vw;
  margin: auto;
  margin-top: 2vh;
  height: 25vh;
}

.translation h4{
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 3vh;
  text-align: center;
}

.translation h5, h3 {
  font-style: italic;
  text-align: center;
}

.homepage-link-on-translations-page Button {
  border: 1px solid black;
}

.translate-button, .reset-form-button {
  box-shadow: 5px 10px 18px black;
}

/* ////////////////////////////////////   Countries page   //////////////////// */

.countries-page {
  background: url('./assets/ubud_bali_portrait.jpg') fixed;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  width: auto;
  /* height: 100%; */
  min-height: 95vh;
}

@media only screen and (min-width: 450px) {
  .countries-page { 
      background-image: url('./assets/world_map_landscape.png'); 
  }
}

.country-info {
  border: 1px solid black;
  background: rgb(249, 249, 249, 0.8);
  margin-bottom: 1vh;
  padding: 3%;
  width: 80vw;
  box-shadow: 8px 10px 30px black;
}

@media only screen and (min-width: 450px) {
  .country-info {
    border: 1px solid black;
    background: rgb(249, 249, 249, 0.8);
    margin-bottom: 1vh;
    padding: 3%;
    width: 30vw;
  }
}


.homepage-link-on-countries-page {
  padding-bottom: 2vh;
}

.add-country-button {
  padding-bottom: 2vh;
}

.countries-intro-text {
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.country-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.country-container {
  padding-bottom: 6vh;
}

.update-and-delete-country-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vh;

}

.countries-page h2 {
  color: white;
}

.home-button, .new-country-button {
  box-shadow: 5px 10px 18px black;
}

.update-country-button, .delete-country-button {
  box-shadow: 5px 10px 18px black;
}

/* ////////////////////////////////////   CountryForm page   //////////////////// */

.add-country-page {
  background: url('./assets/Venice_portrait.jpg') fixed;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  width: auto;
  min-height: 95vh;
}

@media only screen and (min-width: 500px) {
  .add-country-page { 
      background-image: url('./assets/Taj_landscape.jpg'); 
  }
}

.countries-link-on-country-form-page button {
  border: .5px solid black;
}

.country-form {
  background: rgb(249, 249, 249, 0.7); 
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
 
}

.country-form-container {
  width: 65vw;
  margin: auto;
  padding-top: 1vh;
  
}

.country-form input {
  padding-left: 1vw;
}

.country-form label {
  text-decoration: underline;
}

.country-form-div {
  padding-bottom: 2vh; 
}

.country-form-submit-button input{
  border: .5px solid black;
} 
.country-form-submit-button {
  padding-top: 2%
}

.reset-button {
  padding-top: 2%;
  padding-bottom: 2%;
}

.new-country-button, .reset-form-button {
  box-shadow: 5px 10px 18px black;
}

/* //////////////////////////////////////  Update Country /////////////////////////////// */

.update-country-page {
  background: url('./assets/Venice_portrait.jpg') fixed;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  width: auto;
  min-height: 95vh;
}

@media only screen and (min-width: 500px) {
  .update-country-page { 
      background-image: url('./assets/desert_landscape.jpg'); 
  }
}

.country-update-container {
  width: 65vw;
  margin: auto;
  padding-top: 1vh;
  
}

.countries-link-on-update-page {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.back-to-countries-button {
  box-shadow: 5px 10px 18px black;
}
.countries-link-on-country-form-page {
  padding-bottom: 2vh;
}

/* ///////////////////////////////////   Footer  ///////////////////////////////// */

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 0%;
  height: 4vh;
  width: 100vw;
  background: rgb(249, 249, 249, 0.5);  
}
