.home-heading-and-links {
  text-align: center;
  background-image: url('./assets/NYC_night.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  width: auto;
  height: 100vh;
}

@media only screen and (min-width: 400px) {
  .home-heading-and-links { 
      background-image: url('./assets/Empire_State.jpg'); 
  }
}

.home-heading {
  padding-top: 7vh;
  text-align: center;
}

.homepage-links {
  text-align: center

}

.translations-link-homepage {
 
}

.countries-link-homepage {


} 
